{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    body,
    html {
        color: black;
        background-color: beige;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .container {
        margin-top: 100px;
    }

    .accordion,
    .panel {
        background-color: rgba(34, 34, 34, 0);
        color: black;
    }
</style>
{% endblock css %}

{% block body %}

    
    <!-- Hesap -->
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="row">
                    <h1>Hesap</h1>
                    <hr>
                    <div class="col">
                        <h4>Üyelik ve Ödemeler</h4>
                        <button>Üyeliği iptal et</button>
                    </div>
                    <div class="col">
                        <strong>{{ profil.user.email }}</strong>
                        <p>Parola: {{ userinfo.password|first }}***{{ userinfo.password|last }}</p>
                        <p>tel: 0537 692 52 42</p>
                    </div>
                    <div class="col">
                        <a href="" data-bs-toggle="modal" data-bs-target="#email">E-postayi değiştir</a> <br>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="email" tabindex="-1" aria-labelledby="emailLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="emailLabel">Email'i değiştir</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="" method="POST">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
                                        </div>
                                        <div class="modal-footer">
                                            <button name="button" value="emailchange" type="submit" class="btn btn-primary">Değiştir</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'changePassword' %}">Parolayı değiştir</a> <br>
                        <a href="">Telefon numarasını değiştir</a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col">
                        <h4>Ayarlar</h4>
                    </div>

                    <div class="col">
                        <a href="">18+ İçerik</a> <br>
                        <a href="">Teste katılın</a> <br>
                        <a href="">İçerik indirilen cihazları yönet</a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col">
                        <h4>Profil ve ebeveyn kontrolleri</h4>
                    </div>

                    <div class="col">
                        <button class="accordion"><img src="{% static 'img/smile-profil.png' %}" alt=""> Berkay </button>
                        <div class="panel">
                            <p>
                                <strong>Dil</strong> <br>
                                <a href="" class="text-end">Değiştir</a>
                            </p>
                            <hr>
                            <p>
                                <strong>İzleme Kısıtlamaları</strong> <br>
                                <a href="" class="text-end">Değiştir</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}