{% extends 'base.html' %}
{% load static %}



{% block css %}
<style>
    h2 {
        text-align: left;
        font-weight: bold;
    }

    .hero-image {
        height: 180%;
    }

    .hero-text {
        background-color: rgba(0, 0, 0, 0.700);
        width: 500px;
        top: 30%;
    }

    .hero-text2 {
        width: 75%;
        margin: auto;
    }

    .form-control {
        background-color: rgb(34, 34, 34);
        border: none;
    }

    .p-grey {
        color: grey;
    }

    .con-footer {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.700);
    }

    @media screen and (max-width: 700px) {
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url(arkaplan.jpg);
        }
    }
</style>
{% endblock css %}



{% block body %}

<div class="hero-image">
    <!-- navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="" class="navbar-brand"><img src="{% static 'netflix_logo.png" alt=""></a>
        </div>
    </nav>

    <div class="hero-text">
        <!-- form -->

        {% if hata %}
        <div style="position: absolute; top: -100px;" class="alert alert-warning alert-dismissible fade show"
            role="alert">
            {{ hata }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form method="POST" action="" class="hero-text2 mt-5 mb-5">
            {% csrf_token %}
            <h2>Kaydol</h2>

            <div class="mb-3">
                <input type="text" name="name" class="form-control form-control-lg mt-2" placeholder="Ad">
                <input type="text" name="surname" class="form-control form-control-lg mt-2" placeholder="Soyad">
                <input type="email" name="email" class="form-control form-control-lg mt-2" placeholder="E-mail">
                <input type="text" name="username" class="form-control form-control-lg mt-2" placeholder="Kullanıcı adı">
                <input type="password" name="password1" id="" class="form-control form-control-lg mt-2">
                <input type="password" name="password2" id="" class="form-control form-control-lg mt-2">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-danger btn-lg" type="submit">Kaydol</button>
            </div>

            <p class="p-grey">
                Netflix'e katılmak ister misiniz? Şimdi kaydolun. <br><br>
            </p>
        </form>
    </div>

</div>

{% endblock body %}